*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
background-color: #E6E6E6;
font-family: 'Judson', serif;  
}

.container{
    /* margin: 5% 0; */
width: 80%;
margin:50px auto;
box-shadow: 2px 2px 50px black;
border-radius: 30px;

   
}

header{
    background-color: #EEECEC;
    padding: 0.5rem;
    border-radius: 30px;

}


/* ? ------------Nav-bar-------------- */
.category-bar{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 96.%;
    border-bottom: 2px solid #D9D9D9;
    margin-left: 3rem;
    /* height: 6rem; */
    justify-content: space-between;
    padding: 0.8rem 3rem;
    
}



select{
    /* height: 2rem; */
    background-color: #D9D9D9;
    border-radius: 3px;
    border: 1px solid rgb(199, 196, 196);
    font-size: 19px;
    font-family: 'Bellota', cursive;
    font-weight: bold;
    padding: 0.3rem;
    width: 10rem;
    
}

input{
    font-size: 12px;
    padding: 0.5rem;
    height: 2.5rem;
    background-color: #D9D9D9;
    border: none;
    width: 250px;
    border-radius: 5px;

}

.left-category{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 1.5rem;
    /* margin-top: 1%; */
    padding: 1rem;
    padding-right: 0;
    
        
}

img.logo{
    border-radius: 16px;
    box-shadow: 1px 1px 3px black;
    width: 50px;
    height:50px;
    padding: 2px;
   
}

section.enter-text{
    position: relative;
    

}

img.magnifier{
    position: absolute;
    top: 0.1rem;
    right: 0.6rem;
}

.support .p1{
 font-weight: 700;
 font-size: 19px;
}

.support .p2{
font-size: 0.8rem;
margin-left: 40%;

  }
  

.icon img{
    /* margin-right: 1rem; */
    width: 4rem;
   height: 4rem;
    padding: 0.7rem;
    /* margin-left: 1rem; */
   
    

}
/* nav-bar alt kısım */
.select-bar{
    display: flex;
    flex-wrap: wrap;
    align-items:flex-end;
    margin: 1.3rem 0rem 3rem  4rem;
    /* padding: 1.5rem; */
    /* height: 4rem; */
    gap: 2rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    padding-right: 0;
    margin-bottom: 1rem;
}
.select-p{
 background-color: #D9D9D9;
 border-radius: 5px;
 display: flex;
 flex-wrap: wrap;
 gap: 0.3rem;
 padding: 10px;
 margin-left: 3rem;

 border: 1px solid rgb(199, 196, 196);
}


.select-p img{

    /* height: 1rem; */
    margin-right: 0.5rem;
}

ul{
    display: flex;
    flex-wrap: wrap;
   
    
 
   
}

ul li{
    list-style-type: none;
    /* display: inline-block; */
    color: rgb(90, 88, 88);
    margin-right: 0.7rem;
   
   
}

.select-p{
    display: flex;
    flex-wrap: wrap;
}

/* ?--------- section1------*/

.section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 6rem;
    gap: 5rem;
    background-color: #373533;
   
}

.yellow-armchair{
 display: flex;


  align-items: center;
  height: 300px;
  flex: 2;
  border-radius: 10px;
  background-color: #D5DEE5;
  align-content: center;

}

.yellow-armchair p{
    flex: 2 ;
    font-size: 2.5rem;
    padding: 1rem;
    margin: 5rem 0;

}

.yellow-armchair img{
    flex: 1 ;
    
}

.gri-armchair{
    /* flex: 1 0; */
    border-radius: 10px;
    position: relative;
    background-color: #FFC868;
   
}

.gri-armchair img{
    height: 300px;
    width: 100%;


   
}


.gri-armchair p{
    position: absolute;
    top: 0;
    right: 0;
padding: 2rem;
}


/* ?----Browse--- */

section.browse{
    background-color: #AEA08D;
    padding: 1px;
 
}

section.browse h2{
    margin: 2rem;
    font-weight: 200;
}
article.img-article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1rem 4rem;
    margin: 2rem;
    gap: 1.5rem;
}

section.browse div{

width: 22rem;
height: 22rem;
background-color: #E5E2DF;
border-radius: 20px;
padding: 0.5rem;
line-height: 3rem;
font-family: 'Josefin Slab', serif;
font-weight: 500;
box-shadow: 1px 1px 50px black;

}

section.browse img{
    width: 18rem;
    height: 18rem;
    border-radius: 15px;
    margin-left: 2rem;
}

.browse-product{
   background-color: #EEECEC;
  
}
.browse-product h2{
     padding: 2rem;
    font-weight: 200;

}

.browse-product article{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 1rem 4rem;
    margin: 2rem;
   ;
}

.browse-product div{
    width: 22rem;
    height: 20rem;
    border-radius: 15px;
    box-shadow: 1px 1px 20px black;
    
}

.browse-product img{
    width: 22rem;
    height: 18rem;
    border-radius: 15px;
}

.browse-product p{
    text-align: center;
   
}

.form{
    display: flex;
    align-items: center;
    background-color: #AEA08D;
    padding: 3rem;
    font-family: 'Bellota', cursive;
    font-weight: bold;
    line-height: 2rem;
    padding: 3rem;
}

.form input{
    width: 400px;
    background-color: #AEA08D;
    border-bottom: 1px solid black;
    border-radius: 0;
   
   
}
.form .right{
    padding: 2rem;
}

.form .right .par{
    font-size: 2rem;
    line-height: 3rem;
    flex: 1;
   
}

.form .right .par span{
    color: rgb(219, 140, 37);
}
.form button{
    width: 100px;
    border-radius: 5px;
    padding: 0.5rem 0;
    padding-left: 0;
    margin-top: 1rem;
}

form{
    font-weight: bold;
    padding: 2rem;
}

.policy{
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;


}

.policy .div2{
   
    display: flex;
    gap: 0.5rem;
}

.policy .div2 p{
    border-bottom: 1px solid black;
}
